<div
  [ngClass]="{ dark: darkMode }"
  class="root-container relative flex overflow-hidden"
>

  <main
    class="main flex-1 duration-700"
  >
    <app-navbar
      [activeBoard]="activeBoard()"
      [boards]="boards()"
      (boardSelect)="selectBoard($event)"
      (boardAdd)="addBoard()"
      (boardEdit)="editBoard()"
      (boardDelete)="deleteBoard()"
      (taskAdd)="addTask()"
    ></app-navbar>

    <app-project-board
      [darkMode]="darkMode"
      [activeBoard]="activeBoard()"
      (columnAdd)="editBoard()"
      (boardEdit)="updateBoardAfterTaskReorder($event)"
      (taskUpdate)="updateTask($event)"
      (taskDeleteModal)="deleteTask($event)"
      (taskUpdateModal)="editTask($event)"
    ></app-project-board>
  </main>
</div>
